.box-1{
    width: 200px;
    height: 200px;
    background: red;
}
.box-2{
    width: 200px;
    height: 200px;
    background: green;
}
.box-3{
    width: 200px;
    height: 200px;
    background: blue;
}
.box-4{
    width: 200px;
    height: 200px;
    background: yellow;
}
.box-5{
    width: 200px;
    height: 200px;
    background: pink;
}
.box-6{
    width: 200px;
    height: 200px;
    background: purple;
}
.box-7{
    width: 200px;
    height: 200px;
    background: peru;
}
.flex{
    display: flex;
    height: 600px;
    /* Flex-direction: row; viene configurado por defecto. */
    /*flex-direction: row;
    justify-content: space-around
    align-items: center;*/
    /* Flex-wrap: nowrap; viene configurado por defecto. */
    flex-wrap: wrap;
    flex-direction: column;
}